@model IEnumerable<Specialization>

<h1>Lista serviciilor</h1>

@foreach (var specialization in Model)
{
    <div class="specialization">
        <h2>@specialization.Name</h2>
        @foreach (var service in specialization.Services)
        {
            <div class="service">
                <strong>@service.Name</strong>
                <h3>Tratamente:</h3>
                <ul>
                    @foreach (var treatment in service.Treatments)
                    {
                        <li class="treatment">@treatment.Name - @treatment.Price @treatment.Description</li>
                    }
                </ul>
            </div>
        }
    </div>
}
