@model IEnumerable<User>


<h1>Echipa noastră</h1>

<div class="team-container">
    @foreach (var dentist in Model)
    {
        <div class="team-member">
            <img src="@dentist.Picture" alt="@dentist.FirstName @dentist.LastName" style="width: 200px; height: auto;" />
            <h3>@dentist.FirstName @dentist.LastName</h3>
            <p>@string.Join(", ", ViewBag.Specializations[dentist.Id] as IEnumerable<string>)</p>
        </div>
    }
</div>
